@import "../../../style/common.scss";

$colorIndexFontColor: #efefef;

.PaletteInput__Wrapper {
  @include verticallyAlignedFlex;
  margin-top: .5rem;
}

.PaletteInput__ColorIndex {
  background-color: $grayLight;
  border-radius: $commonBorderRadius;
  color: $colorIndexFontColor;
  font-weight: bold;
  margin-right: .5rem;
  min-width: 2.5rem;
  padding: .5rem;
  text-align: center;
  text-shadow: 1px 1px 1px $gray;
}